<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dyq.mapper.FileMapper">
	
	<resultMap type="fileinfo" id="fileMap">
		<id property="fileId" column="file_id"/>
		<id property="fileName" column="file_name"/>
		<id property="loginId" column="login_id"/>
		<id property="applyTime" column="apply_time"/>
		<id property="fileStateId" column="file_state_id"/>
		<id property="fileTypeId" column="file_type_id"/>
		<id property="filePrice" column="file_price"/>
		<id property="fileIntroduce" column="file_introduce"/>
		<id property="fileUploadTime" column="file_upload_time"/>
		<id property="fileRealName" column="file_realname"/>
		<association property="login" select="queryLogin" column="login_id" />
		<association property="fileState" select="queryState" column="file_state_id" />
		<association property="fileType" select="queryType" column="file_type_id" />
	</resultMap>
	<resultMap type="login" id="loginMap">
		<id property="loginId" column="login_id"/>
		<id property="loginName" column="login_name"/>
		<id property="powerId" column="power_id"/>
	</resultMap>
	<resultMap type="filestate" id="fileStateMap">
		<id property="fileStateId" column="file_state_id"/>
		<id property="fileStateName" column="file_state_name"/>
	</resultMap>
	<resultMap type="filetype" id="fileTypeMap">
		<id property="fileTypeId" column="file_type_id"/>
		<id property="fileTypeName" column="file_type_name"/>
	</resultMap>
	<select id="queryLogin" resultMap="loginMap">
		select * from login where login_id = #{loginId}
	</select>
	<select id="queryState" resultMap="fileStateMap">
		select * from file_state where file_state_id = #{fileStateId}
	</select>
	<select id="queryType" resultMap="fileTypeMap">
		select * from file_type where file_type_id = #{fileTypeId}
	</select>
	
	<select id="queryAllState" resultMap="fileStateMap">
		select * from file_state
	</select>
	<select id="queryAllType" resultMap="fileTypeMap">
		select * from file_type
	</select>
	
	<sql id="fileWhere">
		<where>
			<if test="fileStateId!=null and fileStateId!=''">
				and file_state_id = #{fileStateId}
			</if>
			<if test="fileTypeId!=null and fileTypeId!=''">
				and file_type_id = #{fileTypeId}
			</if>
			<if test="fileUploadTimeBegin!=null and fileUploadTimeEnd!=null">
				file_upload_time between #{fileUploadTimeBegin} and #{fileUploadTimeEnd}
			</if>
			<if test="loginId!=null and loginId!=''">
				and login_id = #{loginId}
			</if>
			<if test="login!= null">
				<if test="login.powerId!='' and login.powerId == 2">
					and file_state_id = 2
				</if>
			</if>
		</where>
	</sql>
	
	<!-- 查询所有 -->
	<select id="queryAllFile" resultMap="fileMap">
		select * from fileinfo
		<include refid="fileWhere" />
		order by file_id
		<!-- limit #{pageNum},4 -->
	</select>
	
	<select id="fileCount" resultType="java.lang.Integer">
		select count(1) 
		from fileinfo
		<include refid="fileWhere" />
	</select>
	
	<select id="queryFileById" resultMap="fileMap">
		select * from fileinfo where file_id = #{fileId}
	</select>
	
	<insert id="insertFile">
		INSERT INTO fileinfo
		VALUES (#{fileId},#{fileName},#{loginId},#{applyTime},1,#{fileTypeId},
				#{fileIntroduce},now(),#{fileRealName},#{filePrice})
	</insert>
	
	<update id="updateFileInfo">
		update fileinfo
		set file_name = #{fileName},
			apply_time = #{applyTime},
			file_type_id = #{fileTypeId},
			file_introduce = #{fileIntroduce},
			file_price = #{filePrice}
		where file_id = #{fileId}
	</update>
	
	<update id="updateFileState">
		update fileinfo
		set file_state_Id = #{fileStateId}
		where file_id = #{fileId}
	</update>
	
	<delete id="deleteFile">
		delete from fileinfo where file_id = #{fileId}
	</delete>
	
	<select id="getGroupByFileYear" resultType="FileGroupByYear">
		select  date_format(file_upload_time,'%Y') as 'year' ,count(file_id) as 'amount'
		from springdatabase.fileinfo
		group by date_format(file_upload_time,'%Y')
	</select>
	
	<select id="getSuccessGroupByFileYear" resultType="FileGroupByYear">
		select  date_format(file_upload_time,'%Y') as 'year' ,count(file_id) as 'amount'
		from springdatabase.fileinfo
		where file_state_id = 4
		group by date_format(file_upload_time,'%Y');
	</select>
	
	<select id="getGroupByFileType" resultType="FileGroupByType">
		select file_type_id as 'type',count(file_id) as 'amount'
		from springdatabase.fileinfo
		group by file_type_id
	</select>
	
</mapper>