<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>测试</title>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		$("#select").append("<option value=''>--请选择--</option>");
		$.ajax({
			type:'post',
			url:'queryAllPower',
			data:{},
			contentType:'application/json;charset=utf-8',
			success:function(data){
				for(var index in data){
					$("#select").append("<option value="+data[index].powerId+">"+data[index].powerName+"</option>");
				}
			}
		});
		function getJsonData(){
			var json = {
					"loginId":$("#id").val(),
					"loginName":$("#name").val(),
					"powerId":$("#select").val(),
			}
			return json;
		}
		$("#queryLogin").click(function(){
			$.ajax({
				type:'post',
				url:'queryAllLogin',
				data:JSON.stringify(getJsonData()),
				contentType:'application/json;charset=utf-8',
				success:function(data){
					$("#tab").empty();
					for(var index in data){
						$("#tab").append("<tr><td>" + data[index].loginId + "</td><td>" + 
										 data[index].loginName + "</td><td>" + 
										 data[index].power.powerName + "</td></tr>");
					}
				}
			});
		})
	})
</script>
</head>
<body>
	
	<h1>Hello SpringBoot</h1>
	Name:<input type="text" id="name"/><br><br>
	Power:<select id="select"></select>
	<a href="addpower.html">添加权限</a>
	<br><br>
	<input id="queryLogin" type="submit" value="查询"/>
	<table id="tab">
		<tr>
			<th>Id</th>
			<th>用户名</th>
			<th>密码</th>		
		</tr>
		<tr><td colspan="3">暂无数据</td></tr>
	</table>
	
</body>
</html>